body {
    width: 400px;
    height: 600px;
    font-family: "Helvetica", Sans-Serif;
}

.show {
    display: block;
}

.centered {
    text-align: center;
    width: 100%;
}

.userInput {
    width: 100%;
}

.leftColumn {
    text-align: left;
}

.rightColumn {
    text-align: right;
}

ul.status-list {
    list-style: none;
    /* padding-left: 20px; */
}

ul.status-list li {
    position: relative;
    margin-bottom: 10px;
}

ul.status-list li.success::before {
    content: '\2713';
    color: green;
    font-weight: bold;
    position: absolute;
    left: -20px;
}

ul.status-list li.failure::before {
    content: '\2717';
    color: red;
    font-weight: bold;
    position: absolute;
    left: -20px;
}

ul.status-list .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    pointer-events: none; 
}

ul.status-list .tooltiptext p {
    margin: 0;
    padding: 5px 10px; /* Adds nice breathing room inside the black box */
}

.failure:hover .tooltiptext {
    visibility: visible;
}